/* INDEX PAGE */
.index {
    margin: 30px 0 0 0;
}

.index-main {
    text-align: justify;
    height: 360px;
    width: 100%;
    background-image: url("../assets/images/index_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.index-main p {
    margin: 10px;
    width: 35%;
}

aside {
    grid-area: aside;
    width: 650px;
    display: grid;
    grid-template-rows: 18% 82%;
}

.index-bags {
    height: 100px;
    width: 100%;
    background-color: #FA9884;
}

.index-image {
    position: relative;
    overflow: hidden;
    left: 120px;
    

}

.index-image img{
    position: relative;
    top: -340px;
    left: -80px;
}

.index-donate {
    
}
