/* INDEX PAGE */

.index-main {
    text-align: justify;
    height: fit-content;
    width: 100%;
}

.index-main img {
    position: absolute;
    top: 150px;
    width: 100%;
    height: cover;
    z-index: -1;
    mask-image: linear-gradient(to bottom, transparent 10%, #000000, #000000 60%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, #000000 10%, #000000 80%, transparent);
}

.main-txt {
    margin: 5% 0 0 30px;
    width: 35%;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    color: rgb(223, 89, 89);
}

.index-bags {
    width: 80%;
    height: fitcontent;
    margin: 8% 10% 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    background-clip: padding-box;
    border: 10px solid #DD5353;
    box-shadow: 1px 1px 1px #DD5353;
    background-color: var(--color-pink);
}

.bag-idx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 6%;
}

.bag-info {
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-red);
    font-weight: 600;
}

.index-donate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.donate-img {
    width: fit-content;
    position: relative;
    left: 0;
    margin-left: 5%;
}

.donate-img img{
    width: 100%;
}

.donate-txt {
    width: 35%;
    height: fit-content;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #DD5353;
    color: whitesmoke;
    margin-right: 10%;
    padding: 10px;
    box-shadow: 1px 1px 1px #DD5353;
    border-radius: 3px;
}
.donate-txt a {
    color: whitesmoke;
}

@media screen and (max-width: 700px) {
    .index-main {
        display: flex;
        justify-content: center;
        text-align: center;
        background: linear-gradient(to bottom, transparent, #F6C7BF 40%, #F6C7BF 80%, transparent);
        padding: 50px 0 15px 0;
        position: relative;
        top: -40px;
        z-index: -1;
    }

    .index-main img {
        display: none;
    }
    
    .main-txt {
        width: 65%;
        font-size: 1rem;
        margin: 0;
    }

    .index-bags {
        margin: 0px 10% 10% 10%;
    }

    .index-donate {
        flex-wrap: wrap;
        justify-content: center;
    }

    .donate-img {
        width: 80%;
        margin: 0;
    }

    .donate-txt {
        width: auto;
        margin: 3%;
        font-size: clamp(0.8rem, 4vw, 1.3rem);
    }
}
