/* LOCATIONS PAGE */
.locations {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pg-title {
    color: #DD5353;
    font-size: 1.3rem;
    margin: 0 0 45px 0;
}


/* HCS PAGES */
.hc {
    margin-bottom: 50px;
}
.hc>p {
    text-align: center;
    font-size: 0.9rem;
    color: #FA9884;
}

.hc-bags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.hc-bag {
    margin: 0 4% 4%;
}

.hc-bag>.bag-info {
    margin-bottom: 3px;
    font-size: 1.3rem;
}

.hc-bag .bag-img {
    height: 230px
}
.hc-img{
    width: 170px;
    cursor: pointer;
}

div[class*="bag-moreinfo-"] {
    display:none;
}
div[class*="bag-moreinfo-"].active {
    display: block;
    width: 30%;
    height: fit-content;
    border: 2px solid var(--color-brt-red);
    border-radius: 15px;
    background: rgb(255,229,202,.8);
    font-size: 1.1rem;
    box-sizing: border-box;
    position: fixed;
    top: 30%;
    left: 35%;
    cursor: pointer; 
}

.moreinfo-field {
    margin: 25px;
}

.alert-green {
    color: rgb(135, 194, 48);
    margin-top: 60px;
}
.alert-red {
    color: red;
    margin-top: 60px;
}

@media screen and (max-width: 800px) {
    div[class*="bag-moreinfo-"].active {
        top: 30%;
        left: 0;
        width: 200px;
    }
}