/* NAVIGATION MENU */
.header {
    background-color: #DD5353;
    display: flex;
}
.header a:hover, .locations-nav a:hover{
    text-decoration: none;
    font-weight: 600;
}

.ufmg_logo {
    width: 200px;
    margin: 15px 35px;
}

.header-pages {
    width: 67%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-pages a {
    background-color: white;
    padding: 5px 25px;
    border-radius: 7px;
    margin-left: 20px;
    color: black;
}
.header-pages a:hover {
    border: 1px solid black
}

.header-pages>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 65%;
}

/* Search Menu */
.search-form {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 0 0 0 5px #DD5353;
    transition: 0.3s;
}

.search-form.active {
    background-color: #FFE5CA;
    width: 35vw;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search-icon-hidden, .cancel-icon {
    margin: 0 5px;
}

.cancel-icon {
    margin-top: 4px;
}

.search-input {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}

/* Icons */
.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px
}

.header-icons {
    display: flex;
    margin: 0 3%;
}

.icon {
    background-color: transparent;
    border-style: hidden;
    border-color: transparent;
    cursor: pointer;
}

.icon img {
    width: 26px;
    height: 26px;
}

.icons-options {
    display: none;
    cursor: pointer;
}

/* Options Icon */ 
.options-bar-hidden {
    display: none;
}

@media screen and (max-width: 840px) {
    .icons-options{
        display: flex;
    }
    .icons-options img {
        transition: 0.3s;
    }
    .icons-options.active img{
        transform: rotate(90deg);
        transition: 0.5s;
    }

    .options-bar-hidden.active {
        width: 100%;
        padding: 10px;
        background-color: #DD5353;
        font-size: 1.2rem;
        border-top: 1.5px solid white;

        display: flex;
        text-align: left;
        flex-direction: column;
        transition: 0.5s ease-out;
    }
    .op-div a{
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 6px 0;
        text-decoration: none;
        color: black;
        
    }
    .op-div a img {
        margin-left: 20px;
    }

    .header-pages, .icons-home, .icons-logout {
        display: none;
    }
    .header {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .search-input::placeholder {
        color: transparent;
    }
    .icon-div:nth-child(2) {
        margin-left: 40px;
    }
}

/* LOCATIONS MENU */
.locations-nav {
    background-color: #FFE5CA;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.nav-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3%;
    transition: all 0.2s;
    transform: scale(1);
    overflow: hidden;
    user-select: none;
    cursor: grab;
}
.nav-wrapper.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1.04);
}

.nav-hc {
    width: 100%;
    display: flex;
    justify-content: baseline;
}

.hc-addr {
    text-align: center;
    width: 16ch;
    height: fit-content;
    padding: 3px;
    background-color: rgb(255, 255, 255);
    margin: 0 3%;
    border-radius: 4px;
    color: black;
    box-sizing: border-box;
}
.hc-addr:hover{
    border: 1px solid var(--color-red);
}