@import "nav.css";
@import "footer.css";
@import "contact.css";
@import "index.css";

body{
    font-family: 'Geologica', sans-serif;
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}