@import "nav.css";
@import "footer.css";
@import "contact.css";
@import "index.css";
@import "locations.css";

body{
    font-family: 'Geologica', sans-serif;
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.page-wrapper {
    margin: 30px 7% 0 7%;
    overflow: hidden;
}