{% load static %}
<section class="contact">
    <p>Veja mais sobre nossa pesquisa <a href="https://repositorio.ufmg.br/handle/1843/50580">Clicando Aqui</a></p>
    <div class="questions">
        <p>Alguma dúvida? Fale conosco</p>
        <form action="mailto:jpsousa837@gmail.com" method="POST" enctype="text/plain">
            <input type="text" name="name" placeholder="Nome" required>
            <input type="text" name="email" placeholder="Email" required>
            <textarea name="message" placeholder="Conte-nos seu problema" cols="30" rows="2" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>