{% load static %}
<footer>
    <div class="partners">
        <a href="https://www.hemosc.org.br/" class="partner-logo hemosc">
            <img src="{% static '/assets/images/logo_hemosc.png' %}" alt="Logo HEMOSC">
        </a>
        <a href="http://www.fapemig.br/pt/" class="partner-logo fapemig">
            <img src="{% static '/assets/images/banner_fapemig.png' %}" alt="Logo FAPEMIG">
        </a>
        <a href="https://www.eng.ufmg.br/portal/" class="partner-logo eng-ufmg">
            <img src="{% static '/assets/images/Escola_de_Engenharia_UFMG.png' %}" alt="Logo Engenharia UFMG">
        </a>
    </div>
    <p>© 2023 Escola de Engenharia - DEP   |   Desenvolvido por João Pedro Neffa</p>
</footer>