{% load static %}
<header class="header">
    <a href="{% url 'index' %}">
        <img src="{% static '/assets/images/logo_ufmg.png' %}" alt="Logo UFMG" class="ufmg_logo">
    </a>
    <div class="header-pages">
        <div class="page-div">
            <a href="{% url 'locations' %}">Localizações</a>
            <a href="{% url 'historico' %}">Histórico</a>
        </div>
        <a href="{% url 'login' %}" class="page-login">Login</a>
    </div>
    <div class="header-search">
        <form action=""> <!--  url 'search' -->
            <input class="search-input" type="text" name='search' placeholder="Procure por locais ou tipos de bolsas" hidden>
            <button type="submit" class="icon">
                <img  src="{% static '/assets/icons/search.png' %}" alt="ícone de pesquisa">
            </button>
        </form>
    </div>
    <div class="logout">
        <button type="submit" class="icon">
            <img src="{% static '/assets/icons/logout.png' %}" alt="ícone de pesquisa">
        </button>
    </div>
</header>