{% load static %}
<header class="header">
    <a href="{% url 'index' %}">
        <img src="{% static '/assets/images/logo_ufmg.png' %}" alt="Logo UFMG" class="ufmg_logo">
    </a>

    <div class="header-pages">
        <div>
            <a href="{% url 'locations' %}">Localizações</a>
            {% if request.user.is_authenticated  %}
                <a href="{% url 'historico' %}">Histórico</a>
            {% endif %}
        </div>
        <a href="{% url 'login' %}" class="page-login">Login</a>
    </div>

    <div class="header-icons">
        <div class="icons-options icon-div icon">
            <img src="{% static '/assets/icons/options.png' %}" alt="ícone de opções">
        </div>

        <div class="icons-search icon-div">
            <form action="{% url 'search' %}" class="search-form">
                <div class="icon search-icon">
                    <img src="{% static '/assets/icons/search.png' %}" alt="ícone de pesquisa">
                </div>
        
                <button type="submit" class="icon search-icon-hidden" hidden>
                    <img src="{% static '/assets/icons/search.png' %}" alt="ícone de pesquisa">
                </button>
        
                <input class="search-input" type="text" name='search' placeholder="Procure por tipos sanguíneos" hidden>
                
                <div class="icon cancel-icon" hidden>
                    <img src="{% static '/assets/icons/cancel.png' %}" alt="ícone de cancelar">
                </div>
            </form>
        </div>

        <div class="icons-home icon-div">
            <a href="{% url 'index' %}" class="icon">
                <img src="{% static '/assets/icons/house.png' %}" alt="ícone de home">
            </a>
        </div>

        <div class="icons-logout icon-div">
            <a href="{% url 'logout' %}" class="icon">
                <img src="{% static '/assets/icons/logout.png' %}" alt="ícone de logout">
            </a>
        </div>
    </div>
</header>

<div class="options-bar-hidden">
    <div class="op-div">
        <a href="{% url 'locations' %}" class="icon">
            Localizações
            <img src="{% static '/assets/icons/placeholder.png' %}" alt="ícone de locais">
        </a>
    </div>
    {% if hemoscuser.is_authenticated %}
    <div class="op-div">
        <a href="{% url 'historico' %}" class="icon">
            Histórico
            <img src="{% static '/assets/icons/tag.png' %}" alt="ícone de historico">
        </a>
    </div>
    {% endif %}
    <div class="op-div">
        <a href="{% url 'login' %}" class="icon">
            Login
            <img src="{% static '/assets/icons/avatar.png' %}" alt="ícone de login">
        </a>
    </div>
    <div class="op-div">
        <a href="{% url 'logout' %}" class="icon">
            Logout
            <img src="{% static '/assets/icons/logout.png' %}" alt="ícone de logout">
        </a>
    </div>
</div>