{% extends 'shared/base1.html' %}
{% load static %}

{% block content %}
    <div class="index">
        <main class="index-main">
            <div class="main-txt">
                <p>
                    Esse site é resultado de uma pesquisa desenvolvida pela Escola de Engenharia da UFMG em parceria com a 
                    HEMOSC a fim de mostrar os dados da análise sobre a cadeia de suprimento de sangue no Brasil.
                </p>
                <p>
                    O site oferece recursos para fácil visualização dos dados que são utilizados como base para entender o
                    cenário da distribuição das bolsas de sangue pelos hemocentros de Santa Catarina e orientar esse processo
                    de forma mais eficiente e rápida.
                </p>
            </div>
            <img src="{% static 'assets/images/index_banner.jpg' %}" alt="Banner Hemosc">
        </main>

        <div class="index-bags">
            {% for bag in bags %}
                <div class="bags-item">
                    
                </div>
            {% endfor %}
        </div>
        
        <div class="index-donate">
            <div class="donate-img">
                <img src="{% static 'assets/images/index_image.png' %}" alt="Imagem doação de sangue">
            </div>
            <div class="donate-txt">
                <p>A Sua Doação Pode Salvar Muitas Vidas! <a href="https://www.hemosc.org.br/agende-sua-doacao.html">Agende Sua Doação Agora!</a></p>
            </div>
        </div>
        
    </div>
{% endblock %}